body {
  background: #FFC8B5; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
  color: white;
}

p {
  font-size: 2em;
}

header {
  text-align: left;
}

.grid-item {
  text-align: center;
}
.current-weather {
  max-width: 768px;
  position: relative;
  margin: 30px auto;
  padding: 30px;
  display: grid;
  grid-gap: 20px;
  background-color: #004C3F;
  z-index: 1000;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 23px 1px rgba(0,0,0,0.53);
  -moz-box-shadow: 10px 10px 23px 1px rgba(0,0,0,0.53);
  box-shadow: 10px 10px 23px 1px rgba(0,0,0,0.53);
  grid-template-rows: 75px 100px;
  grid-template-areas: 
    "header header"
    "weather weather";
}

.section .header {
  background-color: rgba(255, 255, 255, 0.6);
}

header {
  grid-area: header;
  display:  grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1fr;
}

section {
  grid-area: weather;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

/*===================================
Icons
====================================*/
.current-weather__icon img {
  width: 80px;
  height:  auto;
}

/*===================================
Temperature
====================================*/
.current-weather__wrapper-temperature {
  grid-column: 2 / span 2;
  padding-left: 20px;
}

.current-weather__temperature-feels-like {
  font-size:  0.75em;
}

.cold {
  color: #B9F0E9;
}

.warm {
  color: #FFA781;
}
.hot {
  color: #C43256;
}
/*===================================
Precipitation
====================================*/
.current-weather__wrapper-precipitation {
  grid-column: 4/  span 2;
}
/*===================================
Wind
====================================*/
.current-weather__wrapper-wind {
  grid-column: 6 / span 3;
}
.current-weather__wind-speed {
  width: 25%;
  float: left;
}

.current-weather__wind-direction {
  text-align: left;
  padding-left: 20px;
  width: 75%;
  font-size: 1.5em;
  float: left;
}
.current-weather__wind-unit {
  font-size: 0.75em;
}

/*===================================
Copyright text
====================================*/
.icon-copyright__text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;
  color:#fff;
  text-decoration: none;
}

.icon-copyright__text a {
  color: #fff;
}

.blah1, .blah2, .blah3, .blah4{
  position: absolute;
  z-index: 0;
}

.blah1 {
  background-color: #FFA781;
  border-radius: 50%;
  top: 110%;
  left: 12%;
  height: 50px;
  width: 50px;
}

.blah2 {
  background-color: #D6F8F3;
  border-radius: 12%;
  top: 75%;
  left: 21%;
  height: 70px;
  width: 70px;
}

.blah3 {
  background-color: #90E6B5;
  border-radius: 22%;
  top: 120%;
  left: 60%;
  height: 20px;
  width: 20px;
}
.blah4 {
  background-color: #C43256;
  top: 200%;
  left: 60%;
  height: 100px;
  width: 100px;
}